:root {
	--typography: #6e447b;
	--typography-main: #fff;
	--btn-link: #925fa4;
	--input-inactive-text: #8b5d9a;
	--input-inactive-bg: #42204e;
	--bg-primary: #230e2b;
	--bg-secondary: #1c0a22;

	--text-color: var(--typography-main);
	--page-bg: var(--bg-primary);

	--font-family: "Rubik", sans-serif;
}