@import "reset";
@import "vars";
@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
	font-family: var(--font-family);

	/* Color mode */
	background-color: var(--bg-secondary);
	color: var(--text-color);
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1210px;
}

.none {
	display: none !important;
}

.title-1 {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 60px;
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
}

.title-2 {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 36px;
	line-height: 1.5;
	text-align: center;
	color: var(--text-color);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

/* blocks */
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/btns';
@import 'blocks/login';
@import 'blocks/form';
@import 'blocks/input';
@import 'blocks/errors';
@import 'blocks/popups';
@import 'blocks/register';
@import 'blocks/select';
@import 'blocks/date-birth';
@import 'blocks/gender';