.input {
	&-wrapper {
		width: 100%;
    padding: 23px;

    display: flex;
    align-items: center;
		border-radius: 500px;

    background-color: var(--input-inactive-bg);
    color: var(--text-color);
	}

	&-field {
		width: 100%;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;

		&::placeholder {
			color: var(--input-inactive-text);
		}
	}

	&-error {
		border: 2px solid #ff4d4d;
	}

	&-icon {
		margin-right: 20px;
		&-right {
			margin-left: auto;
			cursor: pointer;
		}
	}
}